@charset "UTF-8";
body {
  width: auto;
  height: auto;
  background-color: black;
}
.container {
  overflow: hidden;
  width: 100%;
}
.rotate {
  border: 2px solid aqua;
  position: absolute;
}
.square {
  position: absolute;
  z-index: 0;
}
@keyframes rotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.square1 {
  width: 380px;
  height: 380px;
  margin: calc(100% / 2 - calc(380px / 2));
}
.rotate1 {
  animation: rotate 15s ease-in-out 0s 1 normal both;
  animation-delay: rotate 0s;
  width: 380px;
  height: 380px;
  z-index: 0;
}
.square2 {
  width: 268px;
  height: 268px;
  margin: calc(100% / 2 - calc(268px / 2));
}

.rotate2 {
  animation: rotate 14s ease-in-out 1s 1 reverse both;
  animation-delay: rotate 0s;
  width: 268px;
  height: 268px;
  z-index: 0;
}
.square3 {
  width: 186px;
  height: 186px;
  margin: calc(100% / 2 - calc(186px / 2));
}
.rotate3 {
  animation: rotate 13s ease-in-out 2s 1 normal both;
  width: 186px;
  height: 186px;
  z-index: 0;
}
.square4 {
  width: 130px;
  height: 130px;
  margin: calc(100% / 2 - calc(130px / 2));
}
.rotate4 {
  animation: rotate 12s ease-in-out 3s 1 reverse both;
  width: 130px;
  height: 130px;
  z-index: 0;
}
.square5 {
  width: 88px;
  height: 88px;
  margin: calc(100% / 2 - calc(88px / 2));
}
.rotate5 {
  animation: rotate 11s ease-in-out 4s 1 normal both;
  width: 88px;
  height: 88px;
  z-index: 0;
}
.square6 {
  width: 58px;
  height: 58px;
  margin: calc(100% / 2 - calc(58px / 2));
}
.rotate6 {
  animation: rotate 10s ease-in-out 5s 1 reverse both;
  width: 58px;
  height: 58px;
  z-index: 0;
}
.square7 {
  width: 38px;
  height: 38px;
  margin: calc(100% / 2 - calc(38px / 2));
}
.rotate7 {
  animation: rotate 9s ease-in-out 6s 1 normal both;
  width: 38px;
  height: 38px;
  z-index: 0;
}
.square8 {
  width: 22px;
  height: 22px;
  margin: calc(100% / 2 - calc(22px / 2));
}
.rotate8 {
  animation: rotate 8s ease-in-out 7s 1 reverse both;
  width: 22px;
  height: 22px;
  z-index: 0;
}
.square9 {
  width: 12px;
  height: 12px;
  margin: calc(100% / 2 - calc(12px / 2));
}
.rotate9 {
  animation: rotate 7s ease-in-out 8s 1 normal both;
  width: 12px;
  height: 12px;
  z-index: 0;
}
.square10 {
  width: 6px;
  height: 6px;
  margin: calc(100% / 2 - calc(6px / 2));
}
.rotate10 {
  animation: rotate 6s ease-in-out 9s 1 reverse both;
  width: 6px;
  height: 6px;
  z-index: 0;
}
